@page "/"
@rendermode InteractiveServer

@using System.Collections.Generic
@using System.Linq;
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using NovusNodoCore.NodeDefinition
@using NovusNodoPluginLibrary
@inject NovusNodoCore.Managers.ExecutionManager ExecutionManager
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="main" id="main">
</div>
@code {
   
}