<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" /> 
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />  
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="stylesheet" href="NovusNodo.styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
   @*  <script src="https://cdn.jsdelivr.net/npm/svelte-jsoneditor@2.3.3/index.min.js"></script> *@
@*     <script type="module" src="https://cdn.jsdelivr.net/npm/vanilla-jsoneditor@2/standalone.js"></script> *@
    @* <script src="JSFolder/JsonEditor.js"></script> *@
    <script src="JSFolder/joint.min.js"></script>
    <script src="JSFolder/GlobalJS.js"></script>
    <script src="JSFolder/JointJS.js"></script>
</body>

</html>
