.sidebarCustom {
    position:absolute;
    top: 0;
    min-width: 4px;
    height: 100%;
    z-index: 1000;
}

.sidebarCustomContent {
    padding:20px;
}

.sidebarCustom header {
    font-size: 28px;
    line-height: 70px;
    text-align: center;
}

    .sidebarCustom a {
        display: block;
        height: 65px;
        width: 100%;
        line-height: 65px;
        padding-left: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 5px solid transparent;
        transition: 0.5s;
    }

        .sidebarCustom a.active,
        .sidebarCustom a:hover {
            border-left: 5px solid #4070f4;
            color: #4070f4;
        }

        .sidebarCustom a i {
            font-size: 23px;
            margin-right: 16px;
        }

        .sidebarCustom a span {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 500;
        }

    .sidebarCustom .resizerCustom {
        width: 4px;
        height: 100%;
        background: #4070f4;
        position: absolute;
        top: 0;
        left: 0; /* Position the resizer on the left edge of the sidebar */
        cursor: col-resize;
    }

