@using NovusNodoPluginLibrary
@inherits NovusUIPluginBase

<h3>BlankConfig</h3>

@code {
    /// <summary>
    /// Protected implementation of Dispose pattern.
    /// </summary>
    /// <param name="disposing">Indicates whether the method is called from Dispose.</param>
    protected override void Dispose(bool disposing)
    {
        if (!DisposedValue)
        {
            if (disposing)
            {
            }

            DisposedValue = true;
        }
    }

}