@using NovusNodoPluginLibrary
@inherits NovusUIPluginBase

@* <h3>BlankConfig</h3> *@

<div style="height:100%; background:red;"></div>

@code {
    /// <summary>
    /// Protected implementation of Dispose pattern.
    /// </summary>
    /// <param name="disposing">Indicates whether the method is called from Dispose.</param>
    protected override void Dispose(bool disposing)
    {
        if (!DisposedValue)
        {
            if (disposing)
            {
            }

            DisposedValue = true;
        }
    }

    public override async Task SaveSettings()
    {
        await Task.CompletedTask;
    }

}