@using NovusNodoPluginLibrary

<div class="draggable" style="background-color:@BackgroundColorCss">
    <div class="node-header">@Name</div>
    <div class="node-body">@ChildContent</div>
</div>

@code
{
    [Parameter] public INodeBase? NodeBase { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; } // For additional content

    private string BackgroundColorCss { get; set; } = ConvertColorToCSSColor(System.Drawing.Color.Violet);
    private string Name = "Not Defined";

    protected override void OnInitialized()
    {
        if (NodeBase == null) return;
        BackgroundColorCss = ConvertColorToCSSColor(NodeBase.Background);
        Name = NodeBase.Name;
    }

    public static string ConvertColorToCSSColor(System.Drawing.Color color)
    {
        return $"#{color.R:X2}{color.G:X2}{color.B:X2}";
    }
}