@page "/"
@rendermode InteractiveServer

@using System.Collections.Generic
@using System.Linq;
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using NovusNodo.Components.Layout
@using NovusNodoCore.NodeDefinition
@using NovusNodoPluginLibrary
@inject NovusNodoCore.Managers.ExecutionManager ExecutionManager
@inject NovusNodo.Management.NovusUIManagement NovusUIManagement
@inject IJSRuntime JS

<PageTitle>Nodes</PageTitle>

<MudContainer Class="d-flex align-start flex-grow-1 gap-4" Style="height:100%; padding:0px;" MaxWidth="MaxWidth.False">
    <div class="container">
        <main>
            <MudContainer Style="height:100%; padding:10px;" MaxWidth="MaxWidth.False">
                <MudContainer id="main_container" Class="overflow-auto" Style="margin-left: 0; padding:0px; margin-right: 0; height:100%;" MaxWidth="MaxWidth.False">
                    <MudContainer id="main" Style="height:100%; padding:0px;" MaxWidth="MaxWidth.False">
                    </MudContainer>
                </MudContainer>

            </MudContainer>
        </main>
        <div class="resize-handle--x" data-target="aside"></div>
        <aside id="resizableSideBar" style="width:0px">
           <SettingsSidebar></SettingsSidebar>
        </aside>
    </div>
</MudContainer>