@page "/"
@rendermode InteractiveServer

@implements IDisposable
@using System.Collections.Generic
@using System.Linq;
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using NovusNodoCore.NodeDefinition
@using NovusNodoPluginLibrary
@inject NovusNodoCore.Managers.ExecutionManager ExecutionManager
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="main" @onmousemove="MainMouseMove" @onmouseup="MouseUp">
    <canvas id="canvas"></canvas>
    @foreach (var node in items.Values)
    {
        <Node NodeBase="node" ConnectorClicked="ConnectorClicked" />
    }
</div>

@code {
    /// <summary>
    /// Indicates if the right connector was clicked.
    /// </summary>
    private static bool RightConnectorClicked = false;

    /// <summary>
    /// Stores the X coordinate of the clicked element.
    /// </summary>
    private static double ClickedElementX = 0;

    /// <summary>
    /// Stores the Y coordinate of the clicked element.
    /// </summary>
    private static double ClickedElementY = 0;

    /// <summary>
    /// Handles the mouse move event on the main div.
    /// </summary>
    /// <param name="e">The mouse event arguments.</param>
    /// <returns>A task that represents the asynchronous operation.</returns>
    public async Task MainMouseMove(MouseEventArgs e)
    {
        if (RightConnectorClicked)
        {
            await JS.InvokeVoidAsync("DrawLineCoordinate", new object[] { $"{ClickedElementX}", $"{ClickedElementY}", $"{e.ClientX}", $"{e.ClientY}" });
        }
    }

    /// <summary>
    /// Handles the connector clicked event.
    /// </summary>
    private Func<MouseEventArgs, string, Task> ConnectorClicked = async (e, id) =>
    {
        ClickedElementX = items[id].UIConfig.X;
        ClickedElementY = items[id].UIConfig.Y;
        RightConnectorClicked = true;
        await Task.CompletedTask;
    };

    /// <summary>
    /// Handles the mouse up event on the main div.
    /// </summary>
    /// <param name="e">The mouse event arguments.</param>
    /// <returns>A task that represents the asynchronous operation.</returns>
    public async Task MouseUp(MouseEventArgs e)
    {
        RightConnectorClicked = false;
        await Task.CompletedTask;
    }

    /// <summary>
    /// Delegate for the redraw connections action.
    /// </summary>
    private static Func<Task>? RedrawConnectionsActionAsync;

    /// <summary>
    /// Redraws the connections asynchronously.
    /// </summary>
    /// <returns>A task that represents the asynchronous operation.</returns>
    private async Task LocalRedrawConnectionsAsync()
    {
        await DrawLine();
    }

    /// <summary>
    /// Draws lines between connected nodes.
    /// </summary>
    /// <returns>A task that represents the asynchronous operation.</returns>
    private async Task DrawLine()
    {
        foreach (var node in items.Values)
        {
            foreach (var next in node.NextNodes.Values)
            {
                await JS.InvokeVoidAsync("DrawLine", new object[] { $"{node.ID}", $"{next.ID}" });
            }
        }    
    }

    /// <summary>
    /// Dictionary to hold the available nodes.
    /// </summary>
    private static IDictionary<string, INodeBase> items = new Dictionary<string, INodeBase>();

    /// <summary>
    /// Method called when the component is initialized.
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        RedrawConnectionsActionAsync = LocalRedrawConnectionsAsync;
        items = ExecutionManager.AvailableNodes;
        ExecutionManager.AvailableNodesUpdated += NodesAdded;
    }

    /// <summary>
    /// Invokable method to handle the movement of an element.
    /// </summary>
    /// <param name="id">The identifier of the element.</param>
    /// <param name="x">The new x-coordinate of the element.</param>
    /// <param name="y">The new y-coordinate of the element.</param>
    /// <returns>A task that represents the asynchronous operation.</returns>
    [JSInvokable]
    public static async Task ElementMoved(string id, double x, double y)
    {
        items[id].UIConfig.X = x;
        items[id].UIConfig.Y = y;

        // Redraw connections
        if (RedrawConnectionsActionAsync is { } actionAsync)
        {
            await actionAsync();
        }
    }

    /// <summary>
    /// Event handler for when nodes are added.
    /// </summary>
    /// <param name="node">The node that was added.</param>
    private void NodesAdded(INodeBase node)
    {
        items = ExecutionManager.AvailableNodes;
        InvokeAsync(StateHasChanged);
    }

    /// <summary>
    /// Method called after the component has rendered.
    /// </summary>
    /// <param name="firstRender">Indicates if this is the first render.</param>
    /// <returns>A task that represents the asynchronous operation.</returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            foreach (var node in items.Values)
            {
                if (node.UIConfig.X != 0 && node.UIConfig.Y != 0)
                {
                    await JS.InvokeVoidAsync("SetElementPosition", new object[] { $"{node.ID}", $"{node.UIConfig.X}", $"{node.UIConfig.Y}" });
                }
            }

            await JS.InvokeVoidAsync("dragAndDrop", ".draggable");
        }
    }

    /// <summary>
    /// Method called when the component is disposed.
    /// </summary>
    public void Dispose()
    {
        RedrawConnectionsActionAsync = null;
    }
}