.node {
    rx: 6px;
    stroke-width: 2px;
}

.button {
    fill: orange;
    stroke: black;
    stroke-width: 1.5px;
    cursor: pointer;
}

.link {
    stroke-width: 3px;
    stroke-linecap: round;
    cursor: pointer;
}

.node-icon {
    stroke-width: 0.5px;
    rx: 4.5px;
    fill: transparent;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
    dominant-baseline: middle;
    user-select: none;
    /* For cross-browser compatibility */
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
}

.port {
    stroke-width: 1.5px;
    cursor: pointer;
}

.select-rect {
    fill: rgba(255, 165, 0, 0.3); /* Orange fill with transparency */
    stroke: orange; /* Orange border */
    stroke-width: 2; /* Border width */
    stroke-dasharray: 4; /* Dashed border */
}

/* Button styles */
.injectorButton {
    fill: #007BFF; /* Bootstrap primary button color */
   /* fill: #ffcc00;  Yellow fill color */
    stroke: #666; /* Dark gray stroke color */
    stroke-width: 1.5px;
    rx: 5px; /* Rounded corners */
    cursor: pointer;
    transition: fill 0.3s, stroke 0.3s; /* Smooth transition for hover effect */
  }
  
  .injectorButton:hover {
    fill: #0056b3; /* Darker shade on hover */
  }
  
  .injectorButton:active {
    fill: #003d80; /* Even darker shade when pressed */
  }