@using Microsoft.AspNetCore.Components.Web

@using Microsoft.JSInterop
@using MudBlazor
@using NovusNodoPluginLibrary
@inherits NovusUIPluginBase
@inject IJSRuntime JS


<div class="settings-node">
    <h3>JavaScript Settings Node</h3>
    <div class="settings-textarea" id="CodeEditor"></div>
</div>

<style>

    .save-button {
        margin-top: 10px;
    }

    .settings-node {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
    }

    .settings-node h3 {
        margin: 10px 10px 10px;
        font-size: 1.2rem;
    }

    .settings-textarea {
        height: 100%;
        width:100%;
        min-height: 100%;
        font-size: 1rem;
        font-family: monospace;
        min-height: 100%;
    }
</style>