.settings-textarea:focus {
    /*     outline: none;
    border-color: #0078d7;
    box-shadow: 0 0 5px rgba(0, 120, 215, 0.5); */
}



.save-button {
      margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
   /*/ padding: 8px 16px; 
    /*     font-size: 1rem;
    color: #fff;
    background-color: #0078d7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; */
}

    .save-button:hover {
        /* background-color: #005a9e; */
    }

    .save-button:active {
        /*  background-color: #004578; */
    }
